<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-4 mt-4 bg-green">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4 text-center">
            <img
              class="card-img-top"
              src="assets/projects.png"
              alt="Title Image"
            />
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8 align-self-center">
            <p class="lead my-3 text-center">
              Our environmental projects are providing many environmental
              benefits around the world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-projects></app-projects>
</div>
<router-outlet></router-outlet>
